.main-container {
    display: flex;
    width: 100%;
}



.search {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 450px;
    margin-top: 30px;
}
.search input {
    background: white;
    border-radius: 6px;
    width: 28vw;
    height: 50px;
    border: 1px solid gray;
    
    padding-left: 50px;
     display: flex;
    flex-direction: column;
}

.search input:focus {

    border: 1px solid #0a89e4f0;
   
}

.search input::placeholder {

    opacity: 0.7;
}

.search {
    position: relative;
}

.search img {
    position: absolute;
    left: 15px;
    top: 15px;
}

.recipes-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  

}
.new{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    
}
